-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."MerchantStatus" AS ENUM ('ACTIVE', 'SUSPENDED');

-- CreateEnum
CREATE TYPE "public"."UserRole" AS ENUM ('MERCHANT_ADMIN', 'MERCHANT_EDITOR');

-- CreateEnum
CREATE TYPE "public"."ProductStatus" AS ENUM ('DRAFT', 'PUBLISHED', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "public"."AttributeKey" AS ENUM ('BATTERY_HOURS', 'ANC_LEVEL', 'BASS', 'COMFORT', 'MICROPHONE', 'WATER_RESISTANCE');

-- CreateEnum
CREATE TYPE "public"."AttributeSource" AS ENUM ('MERCHANT', 'IMPORTED', 'DERIVED');

-- CreateEnum
CREATE TYPE "public"."PolicyStatus" AS ENUM ('DRAFT', 'ACTIVE');

-- CreateEnum
CREATE TYPE "public"."IssueSeverity" AS ENUM ('INFO', 'WARNING', 'BLOCKER');

-- CreateEnum
CREATE TYPE "public"."IssueResolution" AS ENUM ('OPEN', 'AUTO_FIXED', 'APPROVED', 'DISMISSED');

-- CreateEnum
CREATE TYPE "public"."SessionStatus" AS ENUM ('ACTIVE', 'EXPIRED');

-- CreateEnum
CREATE TYPE "public"."PreferenceSource" AS ENUM ('USER', 'LLM_EXTRACTED');

-- CreateEnum
CREATE TYPE "public"."CartStatus" AS ENUM ('ACTIVE', 'CONFIRMED', 'CHECKOUT_STARTED', 'COMPLETED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "public"."TransactionStatus" AS ENUM ('CREATED', 'PENDING_PAYMENT', 'AUTHENTICATED', 'CAPTURED', 'FAILED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."VerificationStatus" AS ENUM ('PENDING', 'VERIFIED', 'REJECTED');

-- CreateEnum
CREATE TYPE "public"."ActorType" AS ENUM ('USER', 'CUSTOMER_SESSION', 'AGENT', 'SYSTEM', 'PROVIDER');

-- CreateTable
CREATE TABLE "public"."Merchant" (
    "id" UUID NOT NULL,
    "name" VARCHAR(160) NOT NULL,
    "slug" VARCHAR(80) NOT NULL,
    "status" "public"."MerchantStatus" NOT NULL DEFAULT 'ACTIVE',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Merchant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" UUID NOT NULL,
    "merchant_id" UUID,
    "email" VARCHAR(320) NOT NULL,
    "role" "public"."UserRole" NOT NULL,
    "auth_provider_id" VARCHAR(191) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Product" (
    "id" UUID NOT NULL,
    "merchant_id" UUID NOT NULL,
    "sku" VARCHAR(100) NOT NULL,
    "name" VARCHAR(200) NOT NULL,
    "brand" VARCHAR(120) NOT NULL,
    "description" TEXT NOT NULL,
    "price_paise" BIGINT NOT NULL,
    "currency" CHAR(3) NOT NULL DEFAULT 'INR',
    "status" "public"."ProductStatus" NOT NULL DEFAULT 'DRAFT',
    "source_version" INTEGER NOT NULL DEFAULT 1,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ProductAttribute" (
    "id" UUID NOT NULL,
    "product_id" UUID NOT NULL,
    "key" "public"."AttributeKey" NOT NULL,
    "value_json" JSONB NOT NULL,
    "normalized_score" INTEGER,
    "source" "public"."AttributeSource" NOT NULL,
    "confidence" DECIMAL(3,2),

    CONSTRAINT "ProductAttribute_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Inventory" (
    "product_id" UUID NOT NULL,
    "available_qty" INTEGER NOT NULL,
    "reserved_qty" INTEGER NOT NULL DEFAULT 0,
    "reservation_expires_at" TIMESTAMP(3),
    "updated_at" TIMESTAMP(3) NOT NULL,
    "version" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "Inventory_pkey" PRIMARY KEY ("product_id")
);

-- CreateTable
CREATE TABLE "public"."MerchantPolicy" (
    "id" UUID NOT NULL,
    "merchant_id" UUID NOT NULL,
    "policy_type" VARCHAR(80) NOT NULL,
    "content" TEXT NOT NULL,
    "structured_rules" JSONB NOT NULL,
    "status" "public"."PolicyStatus" NOT NULL DEFAULT 'DRAFT',
    "version" INTEGER NOT NULL DEFAULT 1,
    "approved_by" UUID,

    CONSTRAINT "MerchantPolicy_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ReadinessAssessment" (
    "id" UUID NOT NULL,
    "merchant_id" UUID NOT NULL,
    "score" INTEGER NOT NULL,
    "dimensions" JSONB NOT NULL,
    "rubric_version" VARCHAR(40) NOT NULL,
    "catalog_snapshot_hash" CHAR(64) NOT NULL,
    "policy_snapshot_hash" CHAR(64) NOT NULL,
    "status" VARCHAR(40) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ReadinessAssessment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ReadinessIssue" (
    "id" UUID NOT NULL,
    "assessment_id" UUID NOT NULL,
    "code" VARCHAR(100) NOT NULL,
    "severity" "public"."IssueSeverity" NOT NULL,
    "title" VARCHAR(200) NOT NULL,
    "evidence" JSONB NOT NULL,
    "evidence_hash" CHAR(64) NOT NULL,
    "safe_fix" JSONB,
    "resolution" "public"."IssueResolution" NOT NULL DEFAULT 'OPEN',
    "resolved_at" TIMESTAMP(3),

    CONSTRAINT "ReadinessIssue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CustomerSession" (
    "id" UUID NOT NULL,
    "merchant_id" UUID NOT NULL,
    "token_hash" CHAR(64) NOT NULL,
    "status" "public"."SessionStatus" NOT NULL DEFAULT 'ACTIVE',
    "expires_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CustomerSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CustomerPreference" (
    "id" UUID NOT NULL,
    "session_id" UUID NOT NULL,
    "key" "public"."AttributeKey" NOT NULL,
    "rank" INTEGER,
    "value_json" JSONB NOT NULL,
    "source" "public"."PreferenceSource" NOT NULL,
    "confirmed" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "CustomerPreference_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Recommendation" (
    "id" UUID NOT NULL,
    "session_id" UUID NOT NULL,
    "formula_version" VARCHAR(40) NOT NULL,
    "request_snapshot" JSONB NOT NULL,
    "candidates" JSONB NOT NULL,
    "ranked_results" JSONB NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Recommendation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Cart" (
    "id" UUID NOT NULL,
    "session_id" UUID NOT NULL,
    "status" "public"."CartStatus" NOT NULL DEFAULT 'ACTIVE',
    "product_id" UUID NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "unit_price_paise" BIGINT NOT NULL,
    "currency" CHAR(3) NOT NULL DEFAULT 'INR',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Cart_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Transaction" (
    "id" UUID NOT NULL,
    "merchant_id" UUID NOT NULL,
    "session_id" UUID NOT NULL,
    "cart_id" UUID NOT NULL,
    "amount_paise" BIGINT NOT NULL,
    "currency" CHAR(3) NOT NULL DEFAULT 'INR',
    "status" "public"."TransactionStatus" NOT NULL DEFAULT 'CREATED',
    "idempotency_key" VARCHAR(100) NOT NULL,
    "razorpay_order_id" VARCHAR(100),
    "razorpay_payment_id" VARCHAR(100),
    "confirmed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Transaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PaymentEvent" (
    "id" UUID NOT NULL,
    "transaction_id" UUID NOT NULL,
    "provider" VARCHAR(40) NOT NULL,
    "provider_event_id" VARCHAR(100),
    "event_type" VARCHAR(80) NOT NULL,
    "verification_status" "public"."VerificationStatus" NOT NULL,
    "payload_hash" CHAR(64) NOT NULL,
    "metadata" JSONB,
    "received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PaymentEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AgentAction" (
    "id" UUID NOT NULL,
    "session_id" UUID,
    "merchant_id" UUID,
    "agent_name" VARCHAR(80) NOT NULL,
    "action" VARCHAR(100) NOT NULL,
    "tool_name" VARCHAR(100),
    "input_hash" CHAR(64) NOT NULL,
    "output_hash" CHAR(64) NOT NULL,
    "outcome" VARCHAR(40) NOT NULL,
    "reason" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AgentAction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AuditEvent" (
    "id" UUID NOT NULL,
    "merchant_id" UUID,
    "session_id" UUID,
    "transaction_id" UUID,
    "correlation_id" UUID NOT NULL,
    "actor_type" "public"."ActorType" NOT NULL,
    "actor_id" UUID,
    "action" VARCHAR(100) NOT NULL,
    "entity_type" VARCHAR(100) NOT NULL,
    "entity_id" UUID NOT NULL,
    "outcome" VARCHAR(40) NOT NULL,
    "reason" TEXT NOT NULL,
    "metadata" JSONB NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditEvent_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Merchant_slug_key" ON "public"."Merchant"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_auth_provider_id_key" ON "public"."User"("auth_provider_id");

-- CreateIndex
CREATE INDEX "User_merchant_id_idx" ON "public"."User"("merchant_id");

-- CreateIndex
CREATE INDEX "Product_merchant_id_status_price_paise_idx" ON "public"."Product"("merchant_id", "status", "price_paise");

-- CreateIndex
CREATE UNIQUE INDEX "Product_merchant_id_sku_key" ON "public"."Product"("merchant_id", "sku");

-- CreateIndex
CREATE INDEX "ProductAttribute_key_normalized_score_idx" ON "public"."ProductAttribute"("key", "normalized_score");

-- CreateIndex
CREATE UNIQUE INDEX "ProductAttribute_product_id_key_key" ON "public"."ProductAttribute"("product_id", "key");

-- CreateIndex
CREATE INDEX "MerchantPolicy_merchant_id_status_idx" ON "public"."MerchantPolicy"("merchant_id", "status");

-- CreateIndex
CREATE UNIQUE INDEX "MerchantPolicy_merchant_id_policy_type_version_key" ON "public"."MerchantPolicy"("merchant_id", "policy_type", "version");

-- CreateIndex
CREATE INDEX "ReadinessAssessment_merchant_id_created_at_idx" ON "public"."ReadinessAssessment"("merchant_id", "created_at");

-- CreateIndex
CREATE UNIQUE INDEX "ReadinessIssue_assessment_id_code_evidence_hash_key" ON "public"."ReadinessIssue"("assessment_id", "code", "evidence_hash");

-- CreateIndex
CREATE UNIQUE INDEX "CustomerSession_token_hash_key" ON "public"."CustomerSession"("token_hash");

-- CreateIndex
CREATE INDEX "CustomerSession_expires_at_idx" ON "public"."CustomerSession"("expires_at");

-- CreateIndex
CREATE UNIQUE INDEX "CustomerPreference_session_id_key_key" ON "public"."CustomerPreference"("session_id", "key");

-- CreateIndex
CREATE INDEX "Recommendation_session_id_created_at_idx" ON "public"."Recommendation"("session_id", "created_at");

-- CreateIndex
CREATE UNIQUE INDEX "Transaction_idempotency_key_key" ON "public"."Transaction"("idempotency_key");

-- CreateIndex
CREATE UNIQUE INDEX "Transaction_razorpay_order_id_key" ON "public"."Transaction"("razorpay_order_id");

-- CreateIndex
CREATE UNIQUE INDEX "Transaction_razorpay_payment_id_key" ON "public"."Transaction"("razorpay_payment_id");

-- CreateIndex
CREATE INDEX "Transaction_merchant_id_status_created_at_idx" ON "public"."Transaction"("merchant_id", "status", "created_at");

-- CreateIndex
CREATE UNIQUE INDEX "PaymentEvent_provider_provider_event_id_key" ON "public"."PaymentEvent"("provider", "provider_event_id");

-- CreateIndex
CREATE INDEX "AgentAction_session_id_created_at_idx" ON "public"."AgentAction"("session_id", "created_at");

-- CreateIndex
CREATE INDEX "AuditEvent_correlation_id_created_at_idx" ON "public"."AuditEvent"("correlation_id", "created_at");

-- CreateIndex
CREATE INDEX "AuditEvent_merchant_id_created_at_idx" ON "public"."AuditEvent"("merchant_id", "created_at");

-- CreateIndex
CREATE INDEX "AuditEvent_transaction_id_created_at_idx" ON "public"."AuditEvent"("transaction_id", "created_at");

-- AddForeignKey
ALTER TABLE "public"."User" ADD CONSTRAINT "User_merchant_id_fkey" FOREIGN KEY ("merchant_id") REFERENCES "public"."Merchant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Product" ADD CONSTRAINT "Product_merchant_id_fkey" FOREIGN KEY ("merchant_id") REFERENCES "public"."Merchant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ProductAttribute" ADD CONSTRAINT "ProductAttribute_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "public"."Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Inventory" ADD CONSTRAINT "Inventory_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "public"."Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."MerchantPolicy" ADD CONSTRAINT "MerchantPolicy_merchant_id_fkey" FOREIGN KEY ("merchant_id") REFERENCES "public"."Merchant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ReadinessAssessment" ADD CONSTRAINT "ReadinessAssessment_merchant_id_fkey" FOREIGN KEY ("merchant_id") REFERENCES "public"."Merchant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ReadinessIssue" ADD CONSTRAINT "ReadinessIssue_assessment_id_fkey" FOREIGN KEY ("assessment_id") REFERENCES "public"."ReadinessAssessment"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CustomerSession" ADD CONSTRAINT "CustomerSession_merchant_id_fkey" FOREIGN KEY ("merchant_id") REFERENCES "public"."Merchant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CustomerPreference" ADD CONSTRAINT "CustomerPreference_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "public"."CustomerSession"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Recommendation" ADD CONSTRAINT "Recommendation_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "public"."CustomerSession"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Cart" ADD CONSTRAINT "Cart_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "public"."CustomerSession"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Cart" ADD CONSTRAINT "Cart_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "public"."Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Transaction" ADD CONSTRAINT "Transaction_merchant_id_fkey" FOREIGN KEY ("merchant_id") REFERENCES "public"."Merchant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Transaction" ADD CONSTRAINT "Transaction_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "public"."CustomerSession"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Transaction" ADD CONSTRAINT "Transaction_cart_id_fkey" FOREIGN KEY ("cart_id") REFERENCES "public"."Cart"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PaymentEvent" ADD CONSTRAINT "PaymentEvent_transaction_id_fkey" FOREIGN KEY ("transaction_id") REFERENCES "public"."Transaction"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AgentAction" ADD CONSTRAINT "AgentAction_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "public"."CustomerSession"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AgentAction" ADD CONSTRAINT "AgentAction_merchant_id_fkey" FOREIGN KEY ("merchant_id") REFERENCES "public"."Merchant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AuditEvent" ADD CONSTRAINT "AuditEvent_merchant_id_fkey" FOREIGN KEY ("merchant_id") REFERENCES "public"."Merchant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AuditEvent" ADD CONSTRAINT "AuditEvent_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "public"."CustomerSession"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AuditEvent" ADD CONSTRAINT "AuditEvent_transaction_id_fkey" FOREIGN KEY ("transaction_id") REFERENCES "public"."Transaction"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

